# vim
**/*.swp

# OSX
.DS_Store

# personal notes
dev_diary.txt

# python venv
.venv/

# python
**/*.pyc
__pycache__/

# database
db.sqlite3

# django
static/

# sublime text
**/*.sublime-workspace
**/*.sublime-project

# test coverage reports
.coverage
.coverage.*
htmlcov/
