{% extends "base/base.html" %}

{% block content %}

<h2>Log in</h2>

{% if form.errors %}
<p>The username and password do not match our records. Please try again.</p>
{% endif %}

{% if form.next.value %}
    {% if user.is_authenticated %}
    <p>Your account does not have access to this page. To proceed, please log in with an account that has access.</p>
    {% else %}
    <p>Please log in to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
{% include "registration/_form_fields.html" %}
<button type="submit">Log in</button>
</form>

<p><a href="{% url 'password_reset_request' %}">Reset password</a></p>


<p>New here?
    {% if form.next.value %}<a href="{% url 'signup' %}?next={{ form.next.value }}">
    {% else %}<a href="{% url 'signup' %}">
    {% endif %}Sign up</a></p>

{% endblock content %}