{% extends "base/base.html" %}

{% block content %}
{% if validlink %}
    <h2>Reset password</h2>
    <form method="post">
    {% csrf_token %}
    {% include "registration/_form_fields.html" %}
    <button type="submit">Set new password</button>
    </form>
{% else %}
    <p>The password reset link was invalid. This may be because the link expired. Please request a new password reset link:</p>
    <p><a href="{% url 'password_reset_request' %}">Reset password</a></p>
{% endif %}
{% endblock content %}