<h1>Gear Items</h1>

<script type="text/x-handlebars">
  {{ view Gearstack.AllGearItemsView }}
</script>

<script type="text/javascript">
  $(function() {
    Gearstack.gear_itemsController.findAll();
  });
</script>
