{% load widget_tweaks %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}    
        {% for error in field.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
    </div>
{% endfor %}