<h1>Welcome!</h1>
<p>Welcome to gearstack, the gear storage app.</p>


<% if user_signed_in? %>
  <p><%= link_to "sign out", destroy_user_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>
<% end %>
