<p>Welcome to gearstack, the gear storage app.</p>

<% if user_signed_in? %>
<div ng-view></div>
<% else %>
<div><span>Please sign in or sign up to use gearstack!</span></div>
<% end %>



<% if user_signed_in? %>
  <p><%= link_to "sign out", destroy_user_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>
<% end %>
