%div{:class => "row-fluid"}
  %div{:id => "gear-list-container", :class => "span2"}
    #gear-list-container-header
      %span Gear Lists
    #gear-lists
      %div{"ng-click" => "deselectGearList()", "class" => "gear-list", "ng-class" => 'noGearListSelectedClass()'}
        %span All my items
      %div{"ng-repeat" => 'gearList in gearLists | orderBy:"name"', "class" => "gear-list", "ng-class" => 'gearListSelectedClass(gearList)', "ng-form" => 'editGearListForm'}
        %span{"ng-hide" => 'editingThisGearList(gearList)', "ng-click" => "selectGearList(gearList)"} {{ gearList.name }}
        %input{:name => "name", "ng-show" => 'editingThisGearList(gearList)', "ng-model" => "gearList.name", :placeholder => "name (required)", :required => "", :type => "string", :class => "input-block-level", "model-change-blur" => ""}
        %button{"ng-show" => 'okToEditGearList(gearList)', "ng-click" => 'editGearList(gearList)', :href => "" } edit
        %button{"ng-show" => 'editingThisGearList(gearList)', "ng-disabled" => "editGearListForm.$invalid", "ng-click" => 'updateGearList(gearList)', :href => "" } save
        %button{"ng-show" => 'editingThisGearList(gearList)', "ng-click" => 'cancelEditGearList()', :href => "" } cancel
        %button{"ng-disabled" => "!okToDeleteGearList(gearList)", "ng-click" => 'removeGearList(gearList)', :href => "" } del
      %div
        %form{:name => "newGearListForm", :novalidate => ""}
          %button{"ng-hide" => 'addingGearList', "ng-click" => 'showAddGearListForm()'} Create gear list
          %input{"ng-show" => 'addingGearList', "ng-model" => 'newGearList.name', :required => "", :type => "string"}
          %button{"ng-click" => 'addGearList()', "ng-show" => 'addingGearList', "ng-disabled" => "newGearListForm.$invalid", :type => "submit"} Create
          %button{"ng-show" => 'addingGearList', "ng-click" => 'hideAddGearListForm()'} Cancel

  %div{:id => "gear-item-list-container", :class => "span10"}
    %form{:name => "gearForm", :novalidate => ""}
      %div
        %div{:class => "gear-item-table-header row-fluid"}
          %div{"ng-repeat" => 'heading in gearTableHeadings', "ng-click" => "setGearTableOrder(heading.title)", :class => "{{heading.class}}"}
            %strong {{heading.title | titleCase}}
            %i{"class" => 'icon-chevron-down', "ng-show" => 'showGearTableSortIcon(heading.title, "forward")'}
            %i{"class" => 'icon-chevron-up', "ng-show" => 'showGearTableSortIcon(heading.title, "reverse")'}
          %div{:class => "span2"}
            %input{:name => "gear_item_search", "ng-model" => "gearItemsSearchQuery", :placeholder => "Search...", :class => "input-block-level"}

        %div{"ng-repeat" => 'gearItem in gearItems | filter:gearItemsSearch | inGearList:selectedListId | orderBy:[gearTableOrder, "name"]', "ng-class" =>'gearItem.status', "ng-show" => 'gearItemVisible(gearItem)', "ng-form" => 'editGearItemForm', :class => "row-fluid"}
          %div{:class => "span3"}
            %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.name}}
            %input{:name => "name", "ng-show" => 'editingThisGearItem(gearItem)', "ng-model" => "gearItem.name", :placeholder => "item name (required)", :required => "", :type => "string", :class => "input-block-level", "model-change-blur" => ""}
          %div{:class => "span2"}
            %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.description}}
            %input{:name => "description", "ng-show" => 'editingThisGearItem(gearItem)', "ng-model" => "gearItem.description", :placeholder => "item description", :type => "string", :class => "input-block-level", "model-change-blur" => ""}
          %div{:class => "span2"}
            %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.location}}
            %input{:name => "location", "ng-show" => 'editingThisGearItem(gearItem)', "ng-model" => "gearItem.location", :placeholder => "item location", :type => "string", :class => "input-block-level", "model-change-blur" => ""}
          %div{:class => "span1 text-right"}
            %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.weight}}
            %input{:name => "weight", "ng-show" => 'editingThisGearItem(gearItem)', "ng-model" => "gearItem.weight", :placeholder => "item weight", :type => "text", :smart_float => "", :class => "input-block-level", "model-change-blur" => ""}
          %div{:class => "span2"}
            %span {{gearItem.status | prettyStatus}}
          %div{:class => "span2"}
            %a{"ng-show" => "okToCheckOutItem(gearItem)", "ng-click" => 'checkOutGearItem(gearItem)', :href => "" } check out
            %a{"ng-show" => "okToCheckInItem(gearItem)", "ng-click" => "checkInGearItem(gearItem)", :href => "" } check in
            %a{"ng-show" => "okToDeleteGearItem(gearItem)", "ng-click" => 'removeGearItem(gearItem)', :href => "" } delete item
            %a{"ng-show" => 'okToEditGearItem(gearItem)', "ng-click" => 'editGearItem(gearItem)', :href => "" } edit item
            %a{"ng-show" => 'editingThisGearItem(gearItem)', "ng-click" => 'cancelEditGearItem()', :href => "" } cancel edit
            %button{"ng-show" => 'editingThisGearItem(gearItem)', "ng-disabled" => "editGearItemForm.$invalid", "ng-click" => 'updateGearItem(gearItem)', :href => "" } save item
            %div{:class => "dropdown", "ng-show" => "okToAddOrRemoveGearLists(gearItem)"}
              %a{:class => "dropdown-toggle"} gear lists
              %ul{:class => "dropdown-menu pull-right"}
                %li{:class => "disabled", "ng-show" => "gearItem.gear_lists.length < gearLists.length"}
                  %a{:href => ""} add to...
                %li{"ng-repeat" => 'gearList in addableGearLists(gearItem) | orderBy:"name"'}
                  %a{:href => "", "ng-click" => "addToGearList(gearItem, gearList)"} {{ gearList.name }}
                %li{:class => "divider", "ng-show" => "gearItem.gear_lists.length < gearLists.length && gearItem.gear_lists.length > 0"}
                %li{:class => "disabled", "ng-show" => "gearItem.gear_lists.length > 0"}
                  %a{:href => ""} remove from...
                %li{"ng-repeat" => 'gearList in removableGearLists(gearItem) | orderBy:"name"'}
                  %a{:href => "", "ng-click" => "removeFromGearList(gearItem, gearList)"} {{ gearList.name }}

        %div{:id => 'no-items', "ng-show" => 'gearItems.length == 0', :class => "row-fluid"}
          %div No gear items yet.  Add some!

        %div{:id => 'no-items-search', "ng-show" => 'gearItems.length != 0 && (gearItems | filter:gearItemsSearch).length == 0', :class => "row-fluid"}
          %div No gear items match your search.

        %div{:id => 'new-item', :class => "row-fluid"}
          %div
            %button{"ng-click" => "showAddGearForm()", "ng-hide" => "addGearFormVisible", "ng-disabled" => '!okToAddGearItem()', :href => ""} Add new item...
            %button{"ng-click" => "hideAddGearForm()", "ng-show" => "addGearFormVisible", :href => ""} cancel

        %div{:id =>'gear-form-row', "ng-show" => "addGearFormVisible", "ng-form" => 'newGearItemForm', :class => "row-fluid"}
          %div{:class => "span3"}
            %input{:name => "name", "ng-model" => "gearItem.name", :placeholder => "name (required)", :required => "", :type => "string", :class => "input-block-level"}
          %div{:class => "span2"}
            %input{:name => "description", "ng-model" => "gearItem.description", :placeholder => "description", :type => "string", :class => "input-block-level"}
          %div{:class => "span2"}
            %input{:name => "location", "ng-model" => "gearItem.location", :placeholder => "location", :type => "string", :class => "input-block-level"}
          %div{:class => "span1"}
            %input{:name => "weight", "ng-model" => "gearItem.weight", :placeholder => "weight", :type => "text", :smart_float => "", :class => "input-block-level"}
          %div{:class => "span2"} checked in
          %div{:class => "span2"}
            %button{"ng-disabled" => "newGearItemForm.$invalid", "ng-click" => "addGearItem()", :type => "submit"} save item
    %p
      %a{"ng-show" => "onLoanItemsVisible", "ng-click" => "hideOnLoanItems()", :href => ""} Hide items on loan
      %a{"ng-hide" => "onLoanItemsVisible", "ng-click" => "showOnLoanItems()", :href => ""} Show items on loan

    %p
      %button{"ng-click" => "refreshGearItems()"} refresh gear items
