<div ng-controller="GearController">
    <div id="gear-item-list-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Weight</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gearItem in gearItems">
                    <td>{{gearItem.name}}</td>
                    <td>{{gearItem.description}}</td>
                    <td>{{gearItem.location}}</td>
                    <td>{{gearItem.weight}}</td>
                    <td>{{gearItem.status}}</td>
                    <td>Actions</td>
                </tr>
                <tr id="new-item">
                  <td>Add new item...</td>
                </tr>
                <form class="" name="gearForm" ng-submit="addGearItem()" novalidate>
                  <tr id="gear_form_tr">
                    <td><input type="string" name="name" ng-model="gearItem.name" placeholder="item name (required)" required /></td>
                    <td><input type="string" name="description" ng-model="gearItem.description" placeholder="item description" /></td>
                    <td><input type="string" name="location" ng-model="gearItem.location" placeholder="item location" /></td>
                    <td><input type="number" name="weight" ng-model="gearItem.weight" placeholder="item weight" /></td>
                    <td>checked in</td>
                    <td><button type="submit" ng-disabled="isClean() || gearForm.$invalid">save item</button></td>
                  </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>
