%div
  #gear-list-container
    #gear-list-container-header
      %span Gear Lists
    #gear-lists
      %div{"ng-click" => "deselectGearList()", "class" => "gear-list", "ng-class" => 'noGearListSelectedClass()'}
        %span All my items
      %div{"ng-repeat" => 'gearList in gearLists', "class" => "gear-list", "ng-class" => 'gearListSelectedClass(gearList)', "ng-click" => "selectGearList(gearList)"}
        %span {{ gearList.name }}
        %button{"ng-disabled" => "!okToDeleteGearList(gearList)", "ng-click" => 'removeGearList(gearList)', :href => "" } del 
      %div
        %form{:name => "newGearListForm", :novalidate => ""}
          %button{"ng-hide" => 'addingGearList', "ng-click" => 'showGearListForm()'} Create gear list
          %input{"ng-show" => 'addingGearList', "ng-model" => 'newGearList.name', :required => "", :type => "string"}
          %button{"ng-click" => 'addGearList()', "ng-show" => 'addingGearList', "ng-disabled" => "newGearListForm.$invalid", :type => "submit"} Create
          %button{"ng-show" => 'addingGearList', "ng-click" => 'hideGearListForm()'} Cancel

  #gear-item-list-container
    %p
      %span Search
      %input{:name => "gear_item_search", "ng-model" => "gearItemsSearchQuery"}
    %form{:name => "gearForm", :novalidate => ""}
      %table
        %thead
          %tr
            %th{"ng-repeat" => 'heading in gearTableHeadings', "ng-click" => 'setGearTableOrder(heading)'}
              %span {{heading | titleCase}}
              %span{"class" => 'down-sort-triangle', "ng-show" => 'showGearTableSortIcon(heading, "forward")'}
              %span{"class" => 'up-sort-triangle', "ng-show" => 'showGearTableSortIcon(heading, "reverse")'}
            / %th{"ng-click" => 'setGearTableOrder("name")'}
            /   %span Name
            /   %span{"class" => 'down-sort-triangle', "ng-show" => 'showGearTableSortIcon("name", "forward")'}
            /   %span{"class" => 'up-sort-triangle', "ng-show" => 'showGearTableSortIcon("name", "reverse")'}
            / %th{"ng-click" => 'setGearTableOrder("description")'} Description
            / %th{"ng-click" => 'setGearTableOrder("location")'} Location
            / %th{"ng-click" => 'setGearTableOrder("weight")'} Weight
            / %th{"ng-click" => 'setGearTableOrder("status")'} Status
            %th Actions
        %tbody
          %tr{"ng-repeat" => 'gearItem in gearItems | filter:gearItemsSearch | inGearList:selectedListId | orderBy:[gearTableOrder, "name"]', "ng-class" =>'gearItem.status', "ng-show" => 'gearItemVisible(gearItem)', "ng-form" => 'editGearItemForm'}
            %td
              %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.name}}
              %span{"ng-show" => 'editingThisGearItem(gearItem)'}
                %input{:name => "name", "ng-model" => "gearItem.name", :placeholder => "item name (required)", :required => "", :type => "string"}
            %td
              %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.description}}
              %span{"ng-show" => 'editingThisGearItem(gearItem)'}
                %input{:name => "description", "ng-model" => "gearItem.description", :placeholder => "item description", :type => "string"}
            %td
              %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.location}}
              %span{"ng-show" => 'editingThisGearItem(gearItem)'}
                %input{:name => "location", "ng-model" => "gearItem.location", :placeholder => "item location", :type => "string"}
            %td{:align => 'right'}
              %span{"ng-hide" => 'editingThisGearItem(gearItem)'} {{gearItem.weight}}
              %span{"ng-show" => 'editingThisGearItem(gearItem)'}
                %input{:name => "weight", "ng-model" => "gearItem.weight", :placeholder => "item weight", :type => "text", :smart_float => ""}

            %td
              %span {{gearItem.status | prettyStatus}}
            %td
              %a{"ng-show" => "okToCheckOutItem(gearItem)", "ng-click" => 'checkOutGearItem(gearItem)', :href => "" } check out
              %a{"ng-show" => "okToCheckInItem(gearItem)", "ng-click" => "checkInGearItem(gearItem)", :href => "" } check in
              %a{"ng-show" => "okToDeleteGearItem(gearItem)", "ng-click" => 'removeGearItem(gearItem)', :href => "" } delete item
              %a{"ng-show" => 'okToEditGearItem(gearItem)', "ng-click" => 'editGearItem(gearItem)', :href => "" } edit item
              %a{"ng-show" => 'editingThisGearItem(gearItem)', "ng-click" => 'cancelEditGearItem()', :href => "" } cancel edit
              %button{"ng-show" => 'editingThisGearItem(gearItem)', "ng-disabled" => "editGearItemForm.$invalid", "ng-click" => 'updateGearItem(gearItem)', :href => "" } save item
              /%a{"ng-show" => 'editingThisGearItem(gearItem)', :href => "" } save item
          %tr#no-items{"ng-show" => 'gearItems.length == 0'}
            %td{:colspan => 6} No gear items yet.  Add some!
          %tr#no-items-search{"ng-show" => 'gearItems.length != 0 && (gearItems | filter:gearItemsSearch).length == 0'}
            %td{:colspan => 6} No gear items match your search.
          %tr#new-item
            %td{:colspan => 6}
              %button{"ng-click" => "showAddGearForm()", "ng-hide" => "addGearFormVisible", "ng-disabled" => '!okToAddGearItem()', :href => ""} Add new item...
              %button{"ng-click" => "hideAddGearForm()", "ng-show" => "addGearFormVisible", :href => ""} cancel
          %tr#gear_form_tr{"ng-show" => "addGearFormVisible", "ng-form" => 'newGearItemForm'}
            %td
              %input{:name => "name", "ng-model" => "gearItem.name", :placeholder => "item name (required)", :required => "", :type => "string"}
            %td
              %input{:name => "description", "ng-model" => "gearItem.description", :placeholder => "item description", :type => "string"}
            %td
              %input{:name => "location", "ng-model" => "gearItem.location", :placeholder => "item location", :type => "string"}
            %td
              %input{:name => "weight", "ng-model" => "gearItem.weight", :placeholder => "item weight", :type => "text", :smart_float => ""}
            %td checked in
            %td
              %button{"ng-disabled" => "newGearItemForm.$invalid", "ng-click" => "addGearItem()", :type => "submit"} save item
    %p
      %a{"ng-show" => "onLoanItemsVisible", "ng-click" => "hideOnLoanItems()", :href => ""} Hide items on loan
      %a{"ng-hide" => "onLoanItemsVisible", "ng-click" => "showOnLoanItems()", :href => ""} Show items on loan

    %p
      %button{"ng-click" => "refreshGearItems()"} refresh gear items

%span{"class" => 'up-sort-triangle', "ng-show" => true}
